<h2>{{ editando ? 'Editar ' : 'Novo' }} Aluno</h2>
<hr />

<div class="ui-g-12">

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <button pButton type="submit" label="Salvar" icon="fa-plus"></button>

    </div>

    <div class="ui-toolbar-group-right">
      <button pButton type="button" icon="fa-refresh" class="ui-button-danger"></button>
        <a routerLink="/alunos" icon="fa fa-search"
        pButton label="Pesquisar" class="ui-button-warning"></a>
    </div>
  </p-toolbar>


  <hr />

  <p-card title="Cadastro">
    Cadastre um novo aluno...
    <hr />
    <br />
    <span class="ui-float-label">
      <input id="nome" pInputText type="text" [(ngModel)]="aluno.nome" name="nome" ngModel #nome="ngModel" required minlength="5">
      <label for="nome">Nome</label>
    </span>
    <br />
    <span class="ui-float-label">
      <input id="end" pInputText type="text" [(ngModel)]="aluno.endereco" name="endereco" ngModel #endereco="ngModel" required minlength="5">
      <label for="end">Endereço</label>
    </span>
    <br />
    <span class="ui-float-label">
      <input id="email" pInputText type="text" [(ngModel)]="aluno.email" name="email" ngModel #email="ngModel" required minlength="5">
      <label for="email">Telefone</label>
    </span>

    <br />

    <span class="ui-float-label">
        <input id="tel" pInputText type="text" [(ngModel)]="aluno.telefone" name="telefone" ngModel #telefone="ngModel" required minlength="5">
      <label for="tel">Email</label>
    </span>



  </p-card>

</form>
</div>
