<h3>
  Cadastro Alunos
</h3>
<hr />

<div class="ui-g-12">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <button pButton type="button" label="Salvar" icon="fa-plus"></button>



    </div>

    <div class="ui-toolbar-group-right">
      <button pButton type="button" icon="fa-refresh" class="ui-button-danger"></button>
        <a routerLink="/alunos" icon="fa fa-search"
        pButton label="Pesquisar" class="ui-button-warning"></a>
    </div>
  </p-toolbar>


  <hr />

  <p-card title="Cadastro">
    Cadastre um novo aluno...
    <hr />
    <br />
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Nome</label>
    </span>
    <br />
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Endereço</label>
    </span>
    <br />
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Telefone</label>
    </span>

    <br />

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Email</label>
    </span>



  </p-card>

</div>
